<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="icon" href="https://cdn.glitch.com/59a2849e-e0c9-4336-b18f-807befa0323a%2Ficons8-resume-100.png?v=1590908113690">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"crossorigin="anonymous"></script>
</head>

<body>
    <div class="fixed-top">

        <nav class="navbar bg-secondary navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Toggle-Content">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <nav class="navbar collapse bg-secondary navbar-light " id="Toggle-Content">
            <ul class="nav navbar-nav" id="mynav-list">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/kk3418/glitch-service">關於這個網站</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#my-projects">作品集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.cakeresume.com/me/kevin345618">Cake Resume</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="mailto:kevin345618@outlook.com">聯絡我</a>
                </li>
            </ul>
        </nav>
    
    </div>

    <div id="my-profile">

        <div class="my-prof-content" id="pic">
          <img src="https://cdn.glitch.com/59a2849e-e0c9-4336-b18f-807befa0323a%2Favata.png?v=1590994139833" alt="ops" />
        </div>

        <div class="my-prof-content" id="text">
            <p>
                我喜歡coding，因為能把想法實現，以及解決各種困難問題的成就感，個性上我偏好夠把事情做到好，所以一個功能或作品對我而言不是能動就好，我會去試著在能力範圍內把code盡可能簡潔，功能做到完整，即使它看起來很普通，我認為唯有對自己產出的東西有要求才能提升coding基本功跟對框架的掌握，我不會期許自己成為最聰明的coder，而是以一個找出接近最佳解的programmer。
            </p>
            <a id="show-more" class="btn btn-secondary">
                更多...
            </a>
        </div>

        <div class="my-prof-content more">
            <p>
                我喜歡coding，因為能把想法實現，以及解決各種困難問題的成就感，個性上我偏好夠把事情做到好，所以一個功能或作品對我而言不是能動就好，我會去試著在能力範圍內把code盡可能簡潔，功能做到完整，即使它看起來很普通，我認為唯有對自己產出的東西有要求才能提升coding基本功跟對框架的掌握，我不會期許自己成為最聰明的coder，而是以一個找出接近最佳解的programmer。  
            </p>
        </div>

        <div class="my-prof-content more">
            <p>
                &nbsp&nbsp 我畢業於中興大學應用數學系，因為大學時就對對寫程式有興趣，大四的時候開始自學python，畢業後像很多人一樣迷惘時，我不確定自己真正擅長什麼，但是我發現自己對於coding是越來越喜愛，享受著解決問題的成就感以及實做出一個小功能時的喜悅，半年多前我決定給自己半年的時間學習網頁前端的各種技術，有了明確的目標後，上課加上自學，我認為自己有掌握最基礎的技能。 
            </p>
            <p>
                &nbsp&nbsp 因為非資訊相關科系，知道自己的弱項是懂的東西就是會比本科系少，會選擇前端領域發展有兩個理由，第一個理由是學習門檻，以我自己來說初學程式的痛點不是迴圈怎麼寫、字串或陣列的處理，而是程式的邏輯寫好後如何讓他有用，網頁前端一開始只要打開編輯器和瀏覽器，寫得程式馬上展現在眼前，簡單清楚，把時間花在基礎上html、js、css，第二個理由是我在接觸javascript之後，對這個語言的喜愛，喜歡它不斷進化，讓人感覺現在寫得code以後說不定會隨著新功能可以讓更簡潔、效能更好。
            </p>
        </div>

        <div class="my-prof-content more">
            <p>&nbsp&nbsp 現在的我可以做到：</p>
            <ol>
                <li>能只用css做到切版，同時能做到基本rwd</li>
                <li>js函式庫的部分，目前是學react，但我不會只限制跟滿足自己只會一種</li>
                <li>知道webpack這類型的打包工具，沒到深入理解webpack但有有在create-react-app的開發環境打包檔案的使用經驗</li>
                <li>有使用bootstrap跟jquery的經驗</li>
                <li>對git有基本的了解，知道怎麼開分支、如果合併分支有衝突要怎麼解決</li>
            </ol>
            <a id="hide-more" class="btn btn-secondary">
                顯示部份
            </a>
        </div>

    </div>

    <div id="my-projects" class="carousel slide">
        <div class="carousel-inner" style="width: 60vw; padding: 0 2vw;">
            <div class="card-style carousel-item active">
                <div class="img-container">
                    <img src="https://media.giphy.com/media/YqiV1dpZB3LOweOzPP/giphy.gif" alt="something wrong :p" />
                </div>
                <div style="text-align: center;">
                    <h3 style="color: white;">Pokemon </h3>
                    <p><spn class="react">React</spn>&nbsp;<span class="graphql">GraphQL</span></p>
                    <a target="_blank" href="/pokemon" class="btn btn-warning">
                        go to Pokemon
                    </a>
                    <a target="_blank" href="https://github.com/kk3418/Pokemon" class="btn btn-primary">
                        source code
                    </a>
                </div>
            </div>
    
            <div class="card-style carousel-item">
                <div class="img-container">
                    <img src="https://media.giphy.com/media/iDrNVMTl5Uv9vtpEQ3/giphy.gif" alt="something wrong :p" />
                </div>
                <div style="text-align: center;">
                    <h3 style="color: white;">Guess Number </h3>
                    <p><span class="js">JS</span></p>
                    <a target="_blank" href="/guess" class="btn btn-danger">
                        go to Guess Number
                    </a>
                    <a target="_blank" href="https://github.com/kk3418/Guess-Number" class="btn btn-primary">
                        source code
                    </a>
                </div>
            </div>
    
            <div class="card-style carousel-item">
                <div class="img-container">
                    <img src="https://media.giphy.com/media/TdXbqxEOURUbOT7p0n/giphy.gif" alt="something wrong :p" />
                </div>
                <div style="text-align: center;">
                    <h3 style="color: white;">To-do List </h3>
                    <p><span class="react">React</span>&nbsp;<span class="redux">Redux</span></p>
                    <a target="_blank" href="/todo" class="btn btn-dark">
                        go to To-do List
                    </a>
                    <a target="_blank" href="https://github.com/kk3418/todo-list" class="btn btn-primary">
                        source code
                    </a>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#my-projects" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#my-projects" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div id="contact">

    </div>

</body>

<script>
    $('.more').hide()

    $('#show-more').click(function(){
        $('#text').hide()
        $('.more').show(1000)
    })

    $('#hide-more').click(function(){
        $('.more').hide(1000)
        $('#text').show()
    })

    $('.carousel').carousel('cycle')

</script>

</html>