#mynav-list {
    font-size: 20px;
}

#my-profile {
    position: relative;
    top: 56px;
    background-color: rgb(120, 124, 128);
    min-height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-template-rows: auto;
}

.my-prof-content {
    line-height: 36px;
    font-size: 18px;
    font-style: italic;
    padding: 30px;
}

#pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic img {
    height: 30vh;
    width: 50vw;
    object-fit: contain;
}

/* #text {

} */

#my-projects {
    position: relative;
    top: 56px;
    min-height: 60vh;
    width: 100%;
    background-color: rgb(99, 108, 118);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.card-style {
    margin: 5vh auto 5vh auto;
    min-width: 30vw;
    box-shadow: 1px 2px 10px 1px #000;
    padding-bottom: 5vh;
}

